@font-face {
  font-family: BasisGrotesquePro;
  src: url(../public/fonts/BasisGrotesquePro-Regular.ttf);
}
* {
  font-family: BasisGrotesquePro;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}